.Control-Panel {
  width: 50%;
  background: $dark-gray;
  border-radius: 10px;

  .error {
    width: 100%;
    color: red;
    margin: 1.5% 0 0.75% 0;
  }

  &-header {
    padding: 1.5%;
    font-size: 2rem;
    color: white;
  }

  &-actions {
  }

  &-form-container > header {
    font-size: 1.5rem;
    color: white;
    margin: 3% 0;
  }

  &-form-container > form {
    display: flex;
    flex-flow: wrap;

    input {
      width: 70%;
      border-radius: 5px;
      outline: none;
    }

    label {
      padding: 0 3% 0 7%;
      width: 25%;
      color: white;
      font-size: 1.15rem;
    }

    input,
    label {
      margin-top: 1.75%;
      display: flex;
    }

    button {
      margin: 0 5% 3% auto;
      border-radius: 5px;
      background: #000;
      color: white;
      border: none;
      padding: 1% 2%;
    }
  }
}
