.Transaction {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  border-bottom: 1px solid #000;

  &>section {
    width: 20%;
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}